<head>
    <style type="text/css">
.animate-show,
.animate-hide {
  -webkit-transition:all linear 1s;
  -moz-transition:all linear 1s;
  -ms-transition:all linear 1s;
  -o-transition:all linear 1s;
  transition:all linear 1s;
}

.animate-show.ng-hide-remove,
.animate-hide.ng-hide-add.ng-hide-add-active {
  opacity: 0;
  display: block !important;
}

.animate-hide.ng-hide-add,
.animate-show.ng-hide-remove.ng-hide-remove-active {
  opacity: 1;
  display: block !important;
}
    </style>
</head>

<div class="login-bg">
    <div class="login-box">
        <div class="row">

            <div class="col-sm-12 col-md-12">

                <form role="form" class="login-form fade-in-effect text-center">
                    <div class="login-header text-center">
                        <h3>Change Password</h3>
                    </div>
                    <div>
                        <div class="input-icons">
                            <i class="fa-user icon"></i>
                            <input readonly type="text" class="input-rounded" ng-model="loginData.username" name="username" id="username" autocomplete="false" ng-keypress="logins(e)" />
                        </div>
                       
                    </div>

                    <div ng-if="!showOldPassword" class="m-t-30">
                        <div class="input-icons">
                            <i class="fa-lock icon"></i>
                            <input placeholder="Old Password" type="password" ng-model="loginData.oldPassword" class="input-rounded" name="passwd" id="oldPassword" autocomplete="false" ng-keypress="logins(e)" />
                            <span ng-if="loginData.oldPassword"
                                  ng-click="toggleShowOldPassword()"
                                  class="fas fa-eye">
                            </span>
                        </div>
                        
                    </div>
                    <div ng-if="showOldPassword" class="m-t-30">
                        <div class="input-icons">
                            <i class="fa-lock icon"></i>
                            <input placeholder="Old Password" type="text" ng-model="loginData.oldPassword" class="input-rounded" name="passwd" id="oldPassword" autocomplete="false" ng-keypress="logins(e)" />
                            <span ng-if="loginData.oldPassword"
                                  ng-click="toggleShowOldPassword()"
                                  class="fas fa-eye-slash">
                            </span>
                        </div>                       
                    </div>


                    <div ng-if="!showNewPassword" class="m-t-30 ">
                        <div class="input-icons">
                            <i class="fa-lock icon"></i>

                            <input placeholder="New Password" type="password" ng-model="loginData.newPassword" class="input-rounded" name="passwd" id="newPassword" autocomplete="false" ng-keypress="logins(e)" />
                            <span ng-if="loginData.newPassword"
                                  ng-click="toggleShowNewPassword()"
                                  class="fas fa-eye">
                            </span>
                        </div>
                        </div>
                        <div ng-if="showNewPassword" class="m-t-30 ">
                            <div class="input-icons">

                                <i class="fa-lock icon"></i>
                                <input placeholder="New Password" type="text" ng-model="loginData.newPassword" class="input-rounded" name="passwd" id="newPassword" autocomplete="false" ng-keypress="logins(e)" />
                                <span ng-if="loginData.newPassword"
                                      ng-click="toggleShowNewPassword()"
                                      class="fas fa-eye-slash">
                                </span>
                            </div>

                        </div>


                        <div ng-if="!showConfirmNewPassword" class="m-t-30  p-b-30">
                            <div class="input-icons">
                                <i class="fa-lock icon"></i>
                                <input placeholder="Confirm New Password" type="password" ng-model="loginData.newPasswordConfirm" class="input-rounded" name="passwd" id="newPasswordConfirm" autocomplete="false" ng-keypress="logins(e)" />
                                <span ng-if="loginData.newPasswordConfirm"
                                      ng-click="toggleShowConfirmNewPassword()"
                                      class="fas fa-eye">
                                </span>
                            </div>

                        </div>
                        <div ng-if="showConfirmNewPassword" class="m-t-30  p-b-30">
                            <div class="input-icons">

                                <i class="fa-lock icon"></i>
                                <input placeholder="" type="text" ng-model="loginData.newPasswordConfirm" class="input-rounded" name="passwd" id="newPasswordConfirm" autocomplete="false" ng-keypress="logins(e)" />
                                <span ng-if="loginData.newPasswordConfirm"
                                      ng-click="toggleShowConfirmNewPassword()"
                                      class="fas fa-eye-slash ">
                                </span>
                            </div>

                        </div>
                        <div class="text-center">
                            <button ng-hide="ready" ng-click="reset()" class="btn-login">
                                <i class="fa-send-o"></i>
                                Change Password
                            </button>
                        </div>
                        <div class="text-center">
                            <button ng-click="goBack()" class="btn-blk">
                                <i class="fa-angle-double-left"></i>
                                Cancel
                            </button>
                        </div>

</form>

                <div data-ng-hide="somethingTyped" class="alert alert-danger animate-hide">
                    {{message}}
                </div>
            </div>

        </div>
</div>
    </div>
