
<div class="login-bg">
    <div class="login-box">
    <div class="row">

        <div class="col-sm-12 col-md-12">

            <!-- Errors container -->
            <div class="errors-container">

            </div>

            <!-- Add class "fade-in-effect" for login form effect -->
            <form method="post" role="form" ng-submit="submit()" id="singup" class="login-form fade-in-effect text-center">

                <div class="login-header text-center">
                  <h3>Forgot Password</h3>
                </div>
                <div class="" ng-hide="ready">
                    <div class="input-icons">

                        <!--  <label class="control-label">Username</label>-->
                        <i class="fa-user icon"></i>
                        <input type="text" class="input-rounded" ng-model="info.userName" placeholder="Username" name="FirstName" id="FirstName" autocomplete="off" />
                    </div>
                    </div>
                <div class="m-t-30 p-b-30" ng-hide="ready">
                    <div class="input-icons">
                       <!-- <label class="control-label">Email</label>-->
                        <i class="fa-lock icon"></i>
                        <input type="text" class="input-rounded" ng-model="info.email"  placeholder="Email" name="LastName" id="LastName" autocomplete="off" />
                    </div>
                    </div>
                    <div class="">

                        <button ng-hide="ready" ng-click="getNewPassword()" class=" btn-login">
                            <i class="fa-send-o"></i>
                            Recover Password
                        </button>
                    </div>
                    <div class="text-center">
                        <button ng-click="cancel()" class="btn-blk">
                            <i class="fa-angle-double-left"></i>
                            Cancel
                        </button>
                    </div>



</form>
            <div data-ng-hide="message == ''" class="alert alert-danger">
                {{message}}
            </div>
            <!--<div data-ng-hide="message == ''" class="alert alert-success" id="message-box">
                {{message}}
            </div>-->

        </div>

    </div>

</div>

</div>