################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/WebAPI/CPPWebService/WebAPI/App_Data/log
