################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/WebAPI/CPPWebService/WebAPI/App_Data/log/11-01-2022_myLogFile.log
