<style>
    table>tbody>tr>td{
        width: 132px;
    }
    table > tbody > tr > th {
        width: 132px;
    }

</style>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 col-sm-12" >
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Application Security</h3>
                    <a href="#/app/wbs" class="exit-button">X</a>
                </div>
             
                <div class="panel-height m-t-25">
                 
                        <table class="grid__table table-outline-wo-p">
                            <thead>
                                <tr>
                                    <th class="t-head" width="10%">Role</th>
                                    <th class="t-head">View Contract</th>
                                    <th class="t-head">Modify Contract</th>
                                    <th class="t-head">View Project</th> <!--Original: View Program Element-->
                                    <th class="t-head">Modify Project</th> <!--Original: Modify Program Element-->
                                    <th class="t-head">View Project Element</th> <!--Original: View Project-->
                                    <th class="t-head" width="5%">Modify Project Element</th> <!--Original: Modify Project-->
                                    <th class="t-head">View Trend</th>
                                    <th class="t-head">Modify Trend</th>

                                    <th class="t-head">View Activity</th>
                                    <th class="t-head">Modify Activity</th>
                                    <!-- <th class="c-th">Admin</th>
             <!--<th class="c-th">Role Management</th>-->
                                    <!--<th class="c-th">Lookup Management</th>-->
                                    <th class="t-head">View Report</th>
                                    <!--<th class="c-th">View Chart</th>-->
                                    <th class="t-head">View Labor</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr id="tbl" class="fade-selection-animation" ng-repeat="row in rowCollection" ng-class="{'selected':row.Role===ACItem.Role}"
                                    ng-click="setAccessControl(row)">
                                    <td>{{row.Role}}</td>
                                    <td class="td-access"><input ng-click="toggle(0,row)" ng-checked="{{row.AccessControlList[0]}}" type="checkbox" value=""></td>
                                    <td class="td-access"><input ng-click="toggle(1,row)" ng-checked="{{row.AccessControlList[1]}}" type="checkbox" value=""></td>
                                    <td class="td-access"><input ng-click="toggle(2,row)" ng-checked="{{row.AccessControlList[2]}}" type="checkbox" value=""></td>
                                    <td class="td-access"><input ng-click="toggle(3,row)" ng-checked="{{row.AccessControlList[3]}}" type="checkbox" value=""></td>
                                    <td class="td-access"><input ng-click="toggle(4,row)" ng-checked="{{row.AccessControlList[4]}}" type="checkbox" value=""></td>
                                    <td class="td-access"><input ng-click="toggle(5,row)" ng-checked="{{row.AccessControlList[5]}}" type="checkbox" value=""></td>
                                    <td class="td-access"><input ng-click="toggle(6,row)" ng-checked="{{row.AccessControlList[6]}}" type="checkbox" value=""></td>
                                    <td class="td-access"><input ng-click="toggle(7,row)" ng-checked="{{row.AccessControlList[7]}}" type="checkbox" value=""></td>
                                    <td class="td-access"><input ng-click="toggle(8,row)" ng-checked="{{row.AccessControlList[8]}}" type="checkbox" value=""></td>
                                    <td class="td-access"><input ng-click="toggle(9,row)" ng-checked="{{row.AccessControlList[9]}}" type="checkbox" value=""></td>
                                    <!--<td class="td-access"><input ng-click="toggle(10,row)" ng-checked="{{row.AccessControlList[10]}}" type="checkbox" value=""></td>-->
                                    <!--<td class="td-access"><input   ng-checked="{{row.AccessControlList[11]}}" type="checkbox" value=""></td>-->
                                    <!--<td class="td-access"><input   ng-checked="{{row.AccessControlList[12]}}" type="checkbox" value=""></td>-->
                                    <td class="td-access"><input ng-click="toggle(13,row)" ng-checked="{{row.AccessControlList[13]}}" type="checkbox" value=""></td>
                                    <!--<td class="td-access"><input   ng-checked="{{row.AccessControlList[14]}}" type="checkbox" value=""></td>-->
                                    <td class="td-access"><input ng-click="toggle(15,row)" ng-checked="{{row.AccessControlList[15]}}" type="checkbox" value=""></td>
                                </tr>
                            </tbody>
                        </table>
              

                </div>
                <div class=" modal-footer" id="right_panel-footer">



                    <div class="row text-center">
                        <div class="col-sm-4 col-md-4 ">
                            <button type="button" class="btn btn-primary c-btn-delete" ng-click="deleteAccessControl()">Delete</button>
                        </div>
                        <div class="col-sm-4 col-md-4">
                            <button type="button" class="btn btn-primary c-btn-save" ng-click="saveAccessControl()" id="save_Access_Control">Save</button>
                        </div>
                        <div class="col-sm-4 col-md-4">
                            <button type="button" class="btn btn-primary c-btn-back" ng-click="newAccessControl()">New</button>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>